@font-face {
  font-family: beans;
  src: url(./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf);
}

:root {
  --almost-white:  #E6E5EA;
  --gray:          #817D92;
  --dark-gray:     #24232C;
  --very-dark-gray:#18171F;
  --neon:          #A4FFAF;
  --red:           #F64A4A;
  --orange:        #FB7C58;
  --yellow:        #F8CD65;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: "beans";
  color: var(--almost-white);
  background: var(--very-dark-gray);
}

.container {
  width: min(540px, 91.15%);
  margin-inline: auto;
  margin-top: clamp(64px, 17vw, 133px);
}

/*************************************
HEADER
*************************************/
.header {
  font-size: clamp(16px, 4vw, 24px);
  text-align: center;
  color: var(--gray);
}


/*************************************
DISPLAY
*************************************/
.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-gray);
  padding: clamp(16px, 4.2vw, 19px) clamp(16px, 4.2vw, 32px);
  margin: clamp(16px, 4.2vw, 31px) 0 clamp(16px, 4.2vw, 24px);
}

.display__text {
  background-color: inherit;
  border: none;
  font-size: clamp(18px, 4vw, 30px);
  width: 82%;
}

.display__copy {
  display: flex;
  align-items: center;
}

.display__copy--text {
  color: var(--neon);
  text-transform: uppercase;
  font-size: clamp(13px, 3vw, 17px);
  margin-right: 16px;
}

.display__copy--svg:hover {
  cursor: pointer;
}

.display__copy--svg:hover path {
  fill: var(--almost-white);
}

/*************************************
CONTROLS
*************************************/
.controls {
  background: var(--dark-gray);
  padding: clamp(16px, 4.2vw, 24px) clamp(16px, 4.2vw, 32px) clamp(16px, 4.2vw, 32px);
}

/*************************************
CONTROLS - PASSWORD LENGTH
*************************************/
.slider {
  margin-bottom: 32px;
}

.slider__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(8px, 2.1vw, 16px);
}

.slider--text {
  font-size: clamp(16px, 4.3vw, 18px);
}

.slider--value {
  font-size: clamp(24px, 5vw, 32px);
  color: var(--neon);
}

.slider--input {
  width: 100%;
  appearance: none;
  background-color: var(--very-dark-gray);
  height: 8px;
}

.slider--input::-webkit-slider-thumb {
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: var(--almost-white);
  border: 2px solid var(--almost-white);
  border-radius: 100%;
}

.slider--input::-webkit-slider-thumb:hover {
  cursor: pointer;
  background-color: var(--very-dark-gray);
  border-color: var(--neon);
}

/*************************************
CONTROLS - PASSWORD OPTIONS
*************************************/
.options {
  margin-bottom: 32px;
}

.option {
  display: flex;
  margin-bottom: clamp(16px, 4.2vw, 20px);
  font-size: clamp(16px, 4.3vw, 18px);
}

.option__input {
  display: none;
}

.option__input:checked ~ .option__box {
  background: var(--neon);
  border-color: var(--neon);
}

.option__input:checked ~ .option__box > .option__box--img {
  visibility: visible;
}

.option__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--almost-white);
  background: var(--very-dark-gray);
  margin-right: 20px;
  cursor: pointer;
}

.option__box:hover {
  border-color: var(--neon);
}

.option__box--img {
  visibility: hidden;
}

/*************************************
CONTROLS - PASSWORD STRENGTH METER
*************************************/
.meter {
  background-color: var(--very-dark-gray);
  padding: clamp(14px, 3.7vw, 20px) clamp(16px, 4.2vw, 32px);
  margin-bottom: clamp(16px, 4.2vw, 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.meter__title {
  color: var(--gray);
  font-size: clamp(16px, 4.3vw, 18px);
}

.indicator {
  display: flex;
  align-items: center;
}

.indicator__text {
  font-size: clamp(18px, 4vw, 24px);
  margin-right: 16px;
}

.indicator__strength {
  display: flex;
  gap: 8px;
}

.indicator__bar {
  border: 1px solid var(--almost-white);
  width: 10px;
  height: 28px;
}

/*************************************
CONTROLS - GENERATE PASSWORD BUTTON
*************************************/
.generate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background: var(--neon);
  border: 1px solid var(--neon);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-gray);
  margin: 16px auto;
  cursor: pointer;
}

.generate-btn:hover {
  background-color: var(--very-dark-gray);
  color: var(--neon);
}

.generate-btn:hover .arrow-path {
  fill: var(--neon);
}

.generate-btn__text {
  margin-right: 16px;
}