@font-face {
  font-family: beans;
  src: url(./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf);
}

:root {
  --almost-white:  #E6E5EA;
  --gray:          #817D92;
  --dark-gray:     #24232C;
  --very-dark-gray:#18171F;
  --neon:          #A4FFAF;
  --red:           #F64A4A;
  --orange:        #FB7C58;
  --yellow:        #F8CD65;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: "beans";
  color: var(--almost-white);
  background: var(--very-dark-gray);
}

.container {
  width: min(100%, 91.15%);
  margin-inline: auto;
  margin-top: clamp(64px, 17vw, 133px);
}

/*************************************
HEADER
*************************************/
.header {
  font-size: clamp(16px, 4vw, 24px);
}