@font-face {
  font-family: "worksans";
  src: url(./fonts/WorkSans-VariableFont_wght.ttf);
}

:root {
  --white: hsl(0, 0%, 100%);
  --pink: hsl(281, 83%, 54%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "worksans";
  color: var(--dark-purple);
  background-image: url(./images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--light-pink);
  background-size: 100%;
}

.card {
  background-color: var(--white);
  padding:clamp(1.5rem, 6.66vw, 2.5rem);
  border-radius: 0.5rem;
  width: min(600px, 87.2%);
  margin-inline: auto;
  margin-top: clamp(8.90625rem, 38vw, 10.46875rem);
}

.faq {
  list-style: none;
}

.faq > li {
  padding: clamp(1.25rem, 4vw, 1.5rem) 0;
  border-bottom: 1px solid var(--light-pink);
}

.faq > li:first-child {
  padding-top: 0;
}

.faq > li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: clamp(1.5rem, 5.33vw, 2rem);
}

.header__title {
  order: 1;
  font-size: clamp(2rem, 8.66vw, 3.5rem);
  font-weight: 700;
}

.header__img {
  width: clamp(1.5rem, 6.66vw, 2.5rem);
  height: clamp(1.5rem, 6.66vw, 2.5rem);
}

.accordion {
  border: none;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: clamp(1rem, 3vw, 1.125rem);
  cursor: pointer;
}

.accordion:hover {
  color: var(--pink);
}

.question {
  width: clamp(14.0625rem, 66.66vw, 100%);
}

.accordion ~ p {
  color: var(--grayish-purple);
  font-size: clamp(0.875rem, 2.66vw, 1rem);
  margin-top: 1.25rem;
}

.show {
  display: none;
}

@media screen and (min-width: 750px) {
  body {
    background-image: url(./images/background-pattern-desktop.svg);
  }
}