@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  color: hsl(214, 17%, 51%);
}

.card {
  width: min(730px, 87.2%);
  border-radius: 10px;
  background-color: #FFF;
}

.drawers {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.content {
  width: 80.4%;
  margin-inline: auto;
}

.card__header {
  font-size: 16px;
  line-height: 24px;
  margin-top: 36px;
  letter-spacing: 0.2px;
  color: hsl(217, 19%, 35%);
}

.card__message {
  font-size: 13px;
  font-weight: 500;
  margin-top: 12px;
  letter-spacing: 0.12px;
  line-height: 20px;
}

.card__author {
  display: flex;
  margin-top: 32px;
  font-size: 13px;
  margin-bottom: 20px;
}

.card__author figure {
  margin-right: 6.1%;
}

.card__share {
  display: none;
  align-items: center;
  height: 64px;
  background-color: hsl(217, 19%, 35%);
  margin-top: 32px;
  border-radius: 0 0 10px 10px;
}

.share__header {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 32px;
  margin-right: 21px;
  letter-spacing: 5px;
}

.socials {
  margin-right: auto;
  display: flex;
  gap: 16px;
}

.card__share .share {
  margin-right: clamp(32px, 4vw, 40px);
  background-color: hsl(214, 17%, 51%);
}

.share__content {
  display: flex;
  margin-right: auto;
}

.avatar {
  width: 40px;
  border-radius: 100%;
}

.info {
  margin-right: auto;
}

.info__header {
  font-size: 13px;
  color: hsl(217, 19%, 35%);
}

.share {
  background-color: hsl(210, 46%, 95%);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 830px) {
  .card {
    display: flex;
    height: 280px;
  }

  .drawers {
    width: 285px;
    height: 100%;
    border-radius: 10px 0 0 10px
  }

  .card__share {
    background-color: #FFF;
    justify-content: flex-end;
    position: relative;
    margin: 0;
    margin-top: 10px;
  }

  .share__content {
    background-color: hsl(217, 19%, 35%);
    width: 248px;
    height: 55px;
    position: absolute;
    align-items: center;
    border-radius: 10px;
    top: -68px;
    left: 59.5%;;
  }

  .share__content::before {
    content: "";
    background-color: hsl(217, 19%, 35%);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 43px;
    transform: rotate(45deg);
    left: calc(50% - 12px);
  }
}
