@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primary-clr: hsl(192, 37%, 48%);
  --seconary-clr: hsl(268, 34%, 53%);

  --body-text-clr: hsl(240, 10%, 57%);
  --header-text-clr: hsl(240, 21%, 20%);

  --body-clr: hsl(0, 0%, 98%);

  --footer-clr: hsla(192, 37%, 48%, 90%);

  --primary-hover-clr: hsl(192, 90%, 77%);
  --secondary-hover-clr: hsl(268, 100%, 86%);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "Red Hat Display", sans-serif;
  color: var(--body-text-clr);
  text-align: center;
  position: relative;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

/*
 * HERO SECTION
 */
.hero__logo {
    margin-top: 48px;
}

.hero__image {
    width: 110%;
    margin-top: 54px;
    position: relative;
    left: -5%;
}

.hero__content {
    width: 87.2%;
    margin-inline: auto;
}

.hero__content > h1 {
    font-size: clamp(40px, 6vw, 64px);
    font-weight: 700;
    line-height: clamp(44px, 6vw, 64px);
    margin:51px auto 21px;
    color: var(--header-text-clr);
}

.hero__buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.hero__buttons--download {
    width: 193px;
    height: 58px;
    color: var(--body-clr);
    background-color: var(--primary-clr);
    border: none;
    border-radius: 29px;
}

.version {
    color: var(--primary-hover-clr);
}

.hero__buttons--question {
    width: 139px;
    height: 58px;
    color: var(--body-clr);
    background-color: var(--seconary-clr);
    border: none;
    border-radius: 29px;
 }


/*
 * SEPERATOR
 */
.number {
    background-color: var(--body-clr);
    border: 1px solid var(--body-text-clr);
    width: 58px;
    height: 58px;
    margin-inline: auto;
    margin-top: 148px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number::before {
    content: "";
    width: 1px;
    height: 84px;
    background-color: var(--body-text-clr);
    position: absolute;
    top: -84px;;
}

.number--02 {
    top: 27px;
    z-index: 2;
}

/*
 * MIDDLE SECTION
 */

.middle-content {
    width: 87.2%;
    margin: 57px auto 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 151px);
    gap: 24px;
    width: 327px;
    margin-inline: auto;
}

.image-grid > img {
    width: 100%;
    border-radius: 10px;
}

.middle-content h2 {
    color: var(--primary-clr);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 64px;
}

.middle-content h3 {
    font-size: clamp(32px, 6vw, 40px);
    line-height: clamp(40px, 6vw, 36px);
    font-weight: 700;
    color: var(--header-text-clr);
    margin-top: 24px;
}

.middle-content p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
    line-height: 26px;
}

/*
 * FOOTER
 */

.footer {   
    height: 428px;
    position: relative;
    color: var(--body-clr);
    background-color: hsla(192, 37%, 48%, 90%);
}

.footer__content {
    width: 87.2%;
    margin: 0 auto;
}

.footer__img img {
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    position: absolute;
}

.footer__title {
    font-size: 32px;
    font-weight: 700;
    padding-top: 92px;
    margin-bottom: 24px;
}

.footer__message {
    margin-bottom: 32px;
    font-size: 18px;
}

.footer__btn {
    color: var(--body-clr);
    width: 193px;
    height: 58px;
    background-color: var(--seconary-clr);
    border: none;
    border-radius: 29px;
}

.footer__btn .version {
    color: var(--secondary-hover-clr);
}
@media screen and (min-width: 760px) {
    .hero__buttons {
        flex-direction: row;
        justify-content: center;
    }

    .hero__content {
        width: 457px
    }

    .middle-content {
        width: 689px;
    }

    .main__content {
        width: 573px;
        margin-inline: auto;
    }

    .image-grid {
        width: 100%;
        grid-template-columns: repeat(4, 164px);
        gap: 11px;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .hero__content > h1 {
        margin-top: 0;
    }

    .hero__logo {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 61px;
    }

    .hero__image {
        width:394px;
        margin: 0;
        left: -8%;
    }

    .hero__image--right {
        position: relative;
        right: -8%;
    }

    .main__content {
        width: 540px;
    }

    .main__content > p {
        font-size: 18px;
    }

    .main__content h3 {
        width: 445px;
        margin-inline: auto;
    }

    .middle-content {
        width: 1110px;
        margin-top: 64px;
    }

    .image-grid {
        grid-template-columns: repeat(4, 255px);
        gap: 30px;
    }

    .number--01 {
        margin-top: 194px;
    }

    .number--02 {
        margin-top: 156px;
    }

    .footer {
        height: 308px
    }

    .footer__content {
        display: flex;
        justify-content: center;
        width: 1110px;
        height: 88px;
        text-align: left;
        padding-top: 116px;
        margin-inline: auto;
    }

    .footer__title,
    .footer__message {
        padding: 0;
        margin: 0;
        width: 350px;
        height: 88px
     }

    .footer__btn {
        margin-left: 92px;
    }

    .hero__buttons--download:hover {
        opacity: .8;
        cursor: pointer;
    }

    .hero__buttons--question:hover {
        opacity: .8;
        cursor: pointer;
    }

    .footer__btn:hover {
        opacity: .8;
        cursor: pointer;
    }
}
