@font-face {
    font-family: inter;
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    /*-----------------------------------------------------
    Site Colors
    -----------------------------------------------------*/
    --blue: hsl(227, 92%, 58%);
    --gunmental: hsl(215, 31%, 21%);
    --dark-electric-blue: hsl(215, 17%, 45%);
    --pure-white: hsl(0, 0%, 100%);
    --hawkes-blue: hsl(216, 95%, 92%);
    --oyster-bay: hsl(189, 64%, 98%);

    /*-----------------------------------------------------
    Site Typography
    -----------------------------------------------------*/
    --heading-xl: 4rem;
    --heading-l: 3rem;
    --heading-m: 1.5rem;
    --heading-s: 1.25rem;
    --body-m: 1rem;
    --body-s: 0.875rem;
}


body {
    font-family: inter;
    font-size: var(--body-m);
    background-color: var(--oyster-bay);
    color: var(--dark-electric-blue);
}

/*-----------------------------------------------------
Header
-----------------------------------------------------*/

.header {
    margin-bottom: 4.5rem;
}

.header::before {
    position: absolute;
    content: "";
    display: block;
    height: 40rem;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, var(--oyster-bay), var(--hawkes-blue));
    padding: 0;
    border-radius: 0 0 2.1875rem 2.1875rem;
    z-index: -1;
}

.header__logo {
    width: clamp(2.5rem, 10.67vw, 4rem);
    margin-inline: auto;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
}

.header__title {
    font-size: clamp(var(--heading-l), 12.8vw, var(--heading-xl));
    font-weight: 500;
    text-align: center;
    line-height: 1.1;
    color: var(--gunmental);
    margin-bottom: 1.5rem;
    letter-spacing: -5%;
}

.header__text {
    text-align: center;
    margin-bottom: 3rem;
}

.bmi-calc {
    background-color: var(--pure-white);
    height: 41.0625rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.bmi-calc__header {
    font-size: var(--heading-m);
    font-weight: 500;
    color: var(--gunmental);
    margin-bottom: 1.5rem;
}

.bmi-calc__units {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    border: none;
}

.radio-btn {
    width: 50%;
    display: flex;
    gap: 1.125rem;
    align-items: center;
    color: var(--gunmental);
    font-weight: 700;
}

.radio-btn:has(input:checked) .bmi-calc__units--radio {
    background-color: var(--hawkes-blue);
    border-color: var(--hawkes-blue);
}

.radio-btn:has(input:checked) .bmi-calc__units--radio::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--blue);
    border-radius: 100%;
    display: block;
    top: 5px;
    left: 5px;
    position: absolute;
}

.bmi-calc__units--radio {
    width: 1.9375rem;
    height: 1.9375rem;
    border:3px solid var(--dark-electric-blue);
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.bmi-calc__units--radio:hover {
    border-color: var(--blue);
}

.bmi-calc__units--radio-input {
    display: none;
}

.bmi-calc__inputs {
    margin-bottom: 1.5rem;
}

.user-input {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.user-input > * {
    width: 100%;
}

.user-input:first-child {
    margin-bottom: 1rem;
}

.bmi-calc__inputs.imperial {
   display: flex;
   flex-wrap: wrap;
}

.imperial > .user-input {
    width: 100%;
    display: grid;
    gap: 5%;
}

.imperial .description {
    grid-column: span 2;
}

.description {
    font-size: var(--body-s);
    margin-bottom: 0.5rem;
}

.input {
    padding: 1.25rem;
    border: 1px solid var(--dark-electric-blue);
    border-radius: 0.75rem;
    height: 4.3125rem;
    font-size: var(--heading-m);
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.input__field {
    border: none;
    width: 90%;
    cursor: pointer;
}

.input__field:focus {
    outline: none;
}

.input:focus-within,
.input:hover {
    border-width: 0.25rem;
    border-color: var(--blue);
}

.input__unit {
    color: var(--blue);
    font-weight: 500;
}

.results {
    height: 16.0625rem;
    color: var(--pure-white);
    background-color: var(--blue);
    border-radius: 1rem;
    padding: 2rem;
}

.results__header {
    font-weight: 700;
}

.results__bmi {
    font-size: var(--heading-l);
}

.results__summary {
    font-size: var(--body-s);
}

.weight-range {
    font-weight: 700;
}

/*-----------------------------------------------------
BMI Meaning Section
-----------------------------------------------------*/

.bmi-meaning {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4.475625rem;
}

.bmi-meaning > * {
    width: 100%;
}

.bmi-meaning__img {
    order: -1;
    margin-bottom: 3rem;
}

.bmi-meaning__header {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.1;
    letter-spacing: -5%;
}

/*-----------------------------------------------------
Wellness Section
-----------------------------------------------------*/

.wellness {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 3.5rem 0 3.5rem;
    margin-bottom: 4.5rem;
}

.item__img {
    margin-bottom: 2rem;
}

.item__header {
    font-size: var(--heading-m);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

/*-----------------------------------------------------
BMI Limitations
-----------------------------------------------------*/

.limitations {
    margin-inline: auto;
    margin-bottom: 6rem;
}

.limitations-summary {
    margin-bottom: 3.5rem;
}

.limitations-summary__header {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--gunmental);
    text-align: center;
}

.limitations__articles {
    display: grid;
    gap: 1rem;
}

.limitations__article {
    padding: 1.5rem;
    background-color: var(--pure-white);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
}

.limitations__article img {
    align-self: center;
}

.limitations__article h3 {
    align-self: center;
    color: var(--gunmental);
    font-size: var(--heading-s);
    font-weight: 500;
}

.article-text {
    grid-column: span 2;
}

/*-----------------------------------------------------
Site Container
-----------------------------------------------------*/

.container {
    width: 87.467%;
    margin-inline: auto;
}

/*-----------------------------------------------------
Media Queries
-----------------------------------------------------*/

@media screen and (min-width: 768px) {
    .bmi-calc {
        height: 29.1875rem;
    }

    .bmi-calc__header {
        margin-bottom: 2rem;
    }

    .bmi-calc__units {
        margin-bottom: 2rem;
    }

    .bmi-calc__inputs {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .user-input {
        width: 50%;
    }

    .user-input:first-child {
        margin: 0;
    }

    .input {
        width: 100%;
    }

    .results {
        border-radius: 1rem 4.7rem 4.7rem 1rem;
        height: 149px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .results__bmi {
        grid-column: 1;
    }

    .results__summary {
        grid-row: 1 / span 2;
        grid-column: 2;
        align-self: center;
    }

    .bmi-meaning {
        display: grid;
        grid-template-columns: 27.1875rem 20.6875rem;
        row-gap: 2rem;
        column-gap: 4.7rem;
        position: relative;
        left: -5rem;
    }

    .bmi-meaning__header {
        align-self: end;
        width: 100%;
        margin: 0;
    }

    .bmi-meaning__img {
        grid-row: span 2;
        height: 100%;
        margin: 0;
    }

    .bmi-meaning__text {
        margin: 0;
        height: 15rem;
        width: 100%;
    }

    .limitations__articles {
        grid-template-columns: repeat(4, 1fr);
    }

    .limitations__article {
        grid-column: span 2;
    }

    .limitations__article--race {
        grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 1160px) {

    .header {
        height: 46.0625rem;
        display: grid;
        grid-template-columns: repeat(2, 35.25rem);
        grid-template-rows: 4rem 6.25rem 11.25rem 1fr;
        column-gap: 1.25rem;
    }

    .header::before {
        width: 61.125rem;
    }

    .header__logo {
        margin: 0;
        padding: 0;
        padding-top: 4.875rem;
    }

    .header__title {
        text-align: left;
        grid-row: 3;
        margin: 0;
    }

    .header__text {
        text-align: left;
        grid-row: 4;
        margin: 0;
        width: 29rem;
    }

    .bmi-calc {
        width: 35.25rem;
        height: 30.25rem;
        grid-row: 2 / span 2;
        grid-column-start: 2;
    }

    .bmi-calc:has(.bmi-calc__inputs.imperial) {
        height: 606px;
    }

    .user-input {
        width: 14.875rem;
    }

    .input__field {
        width: 70%;
    }

    .results {
        height: 10.375rem;
    }
    .bmi-meaning {
        position: static;
        width: 72.5rem;
        margin-inline: auto;
        grid-template-columns: 35.25rem 29rem;
    }

    .wellness {
        flex-wrap: nowrap;
        width: 72.5rem;
    }
    .wellness > * {
        width: 33.333%;
    }

    .limitations {
        position: relative;
        width: 72.5rem;
        height: 44rem;
        margin-bottom: 7.5rem;
    }

    .limitations-summary {
        width: 35.25rem;
    }

    .limitations__articles {
        width: 60rem;
        grid-template-columns: 183px 150px 84px 67px 150px 84px 67px;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    .limitations__article--gender {
        grid-column: 4 / span 3;
    }

    .limitations__article--age {
        grid-column: 2 / span 3;
    }

    .limitations__article--muscle {
        grid-column: 5 / span 3;
    }

    .limitations__article--pregnancy {
        grid-column: span 2;
    }

    .limitations__article--race {
        grid-column: 3 / span 3;
    }
}