@font-face {
  font-family: "kumbh sans";
  src: url(./fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

:root {
  --clr--shark: hsl(220, 13%, 13%);
  --clr--pumpkin: hsl(26, 100%, 55%);
  --clr--white: hsl(0, 0%, 100%);
  --clr--pale-sky: hsl(219, 9%, 45%);
  --clr--black: hsl(0, 0%, 0%);
  --clr--link-water: hsl(223, 64%, 98%);
  --clr--cadet-blue: hsl(220, 14%, 75%);

  --clr--primary: var(--clr--shark);
  --clr_secondary: var(--clr--pumpkin);
  --clr--body: var(--clr--pale-sky);
}

*, *::backdrop, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "kumbh sans";
  color: var(--clr--body);
  font-size: 0.9375rem;
}

.container {
  width: min(69.375rem, 100%);
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 
    clamp(1.1875rem, 5.067vw, 1.75rem)
    clamp(1.5rem, 6.4vw, 10.3125rem)
    clamp(1.5625rem, 6.67vw, 2.125rem);

  margin: auto;
}

.logo-area {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icons {
  display: flex;
  gap: 1.38625rem;
  align-items: center;
  position: relative;
}

.cart-icon-wrap {
  width: 1.36375rem;
  height: 1.25rem;
}

.cart-icon-wrap::after {
  content: "0";
  background-color: var(--clr--pumpkin);
  width: 19px;
  height: 0.8125rem;
  border-radius: 0.40625rem;
  color: var(--clr--white);
  font-size: 0.625rem;
  font-weight: 700;
  display: none;
  justify-content: center;

  position: absolute;
  left: 0.625rem;
  top: clamp(-4px, 1.067vw, 8px);
}

.avatar {
  width: clamp(1.5rem, 6.4vw , 3.125rem);
}

.main-nav {
  position: absolute;
  background-color: rgb(0, 0, 0, 80%);
  top: 0;
  left: 0;
  right: 0;
  height: 56.25rem;
  display: none;
  z-index: 2;
}

.main-nav__list {
  list-style: none;
  background-color: var(--clr--white);
  width: 66.67%;
  height: 100%;
  padding-top: 5.375rem;
  padding-left: 1.5625rem;
}

.nav-item {
  width: 100%;
  margin-bottom: 1.25rem;
}

.main-nav__list a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr--primary);
  font-size: 1.125rem;
  font-weight: 700;
}

.shopping-cart {
  position: absolute;
  width: 22.5rem;
  height: 16rem;
  background-color: var(--clr--white);
  border-radius: .625rem;
  display: none;
  left: 0;
  margin: clamp(3.75rem, 16vw, 6.875rem) calc(50% - 11.25rem) 0;
  z-index: 1;
}

.shopping-cart__header {
  padding: 1.5rem;
  border-bottom: 1px solid hsl(219, 35%, 92%);
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--clr--primary);
  font-weight: 700;
}

.shopping-cart__content {
  display: flex;
  height: 11.6875rem;
  justify-content: center;
  align-items: center;
  color: var(--clr--primary);
  flex-wrap: wrap;
  padding: 1.5rem 1.5rem 2rem;
}

.product-info {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--clr--body);
  margin-bottom: 1.5rem;
}

.checkout-img {
  width: 50px;
  margin-right: 1rem;;
}

.checkout-text {
  margin-right: 1.125rem;
}

.checkout-total {
  color: var(--clr--primary);
  font-weight: 700;
}

.image-slider {
  position: relative;
}

.image-slider__image {
  display: block;
  width: 100%;
  height: 18.75rem;
}

.image-selector {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  justify-content: space-between;
  top: 8.125rem;
  padding: 0 1rem;
}

.selector-box {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr--white);
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnails {
  display: none;
}

.main-section {
  margin: 1.5rem auto 5.5rem;
  width: 87.2%;
}

.info {
  margin-bottom: 1.5rem;
}

.info__header {
  font-size: clamp(0.75rem, 3.2vw ,0.8125rem);
  font-weight: 700;
  letter-spacing: 1.85px;
  text-transform: uppercase;
  color: var(--clr--pumpkin);
}

.info__sub-header {
  font-size: clamp(1.75rem, 7.467vw, 2.75rem);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--clr--primary);
}

.info__text {
  line-height: 1.625rem;
}

.price-info {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.price {
  margin-right: 1rem;
  color: var(--clr--primary);
  font-size: 1.75rem;
  font-weight: 700;
}

.discount {
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr--pumpkin);
  margin-right: auto;
  background-color: hsl(26, 100%, 94%);
  padding: .25rem;
  border-radius: .375rem;
}

.total {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: line-through;
  color: var(--clr--cadet-blue);
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 1.5rem;
  background-color: hsl(220, 59%, 98%);
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.quantity {
  font-size: 1rem;
  font-weight: 700;
}

.cart-btn,
.checkout-btn {
  width: 100%;
  padding: 1.25rem 0;
  background-color: var(--clr--pumpkin);
  border: 1px solid var(--clr--pumpkin);
  color: var(--clr--white);
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.625rem;
}

.btn-icon {
  margin-right: 1rem;
}

.btn-icon path {
  fill: var(--clr--white);
}

.main-nav.open,
.shopping-cart.open {
  display: block;
}

.menu-icon.active {
  z-index: 3;
}

@media screen and (min-width: 900px) {
  .header.container {
    width: min(77.08%, 1110px);
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid hsl(219, 35%, 92%);
    padding-left: 0;
    padding-right: 0;
    margin-inline: auto;
  }

  .logo-area__header {
    margin-right: 56.5px;
  }

  .menu-icon {
    display: none;
  }

  .main-nav {
    display: flex;
    background-color: transparent;
    width: 24.8125rem;
    height: 1.625rem;
    position: static;
    margin-right: auto;
  }

  .main-nav__list {
    background-color: transparent;
    padding: 0;
    display: flex;
    gap: 2rem;
  }

  .nav-item a {
    font-size: 0.9375rem;
    font-weight: 400;
    color: var(--clr--pale-sky);
  }

  .main.container {
    margin-top: 5.625rem;
    margin-inline: auto;
    width: min(1015px, 70.44%);
    display: flex;
  }

  .image-selector {
    display: none;
  }

  .image-slider__image {
    width: clamp(18rem, 27.22vw, 27.8125rem);
    height: clamp(18rem, 27.22vw, 27.8125rem);
    margin-bottom: 2rem;
    border-radius: 0.625rem;
  }

  .thumbnails {
    display: flex;
    justify-content: space-between;
  }

  .thumbnails__box {
    width: clamp(3.03125rem, 5.389vw, 5.5rem);
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: var(--clr--white);
  }

  .thumbnails__box.active-thumbnail {
    border: 2px solid var(--clr--pumpkin);
  }

  .thumbnails__box.active-thumbnail .thumbnails__image {
    opacity: 0.5;
  }

  .thumbnails__image {
    width: 100%;
    height: 100%;
  }

  .thumbnails__image:hover {
    opacity: 0.5;
  }

  .main-section {
    width: clamp(20rem, 27.22vw, 27.8125rem);
    height: clamp(20rem, 27.22vw, 27.8125rem);
    margin-bottom: 0;
    margin-top: clamp(0.5rem, 4.4vw, 4rem);
  }

  .info__header {
    margin-bottom: 1.5rem;
  }

  .info__sub-header {
    font-size: clamp(1.5rem, 2.67vw, 2.75rem);
    margin-bottom: 2rem;
  }

  .controls {
    display: flex;
    gap: 1rem;
    height: 3.5rem;
  }

  .quantity-selector,
  .cart-btn {
    margin: 0;
  }

  .quantity-selector {
    width: 45%;
  }

  .shadow-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .shadow {
    width: 550px;
    display: flex;
    flex-direction: column;
  }

  .shadow .image-slider__image {
    width: 100%;
    height: 550px;
    border-radius: 1rem;
  }

  .shadow .image-selector {
    display: flex;
    padding: 0;
    width: 590px;
    margin-inline: auto;
    left: -20px;
    top: 255px;
  }

  .shadow .thumbnails {
    justify-content: space-around;
  }

  .shadow-close {
    margin-left: auto;
    margin-bottom: 1.5rem;
  }

  .shadow-close:hover path {
    fill: var(--clr--pumpkin);
  }

  .shopping-cart {
    top: -20px;
    left: clamp(200px, 30vw, 400px);
    box-shadow: 0 0 20px var(--clr--body);
  }
}