@font-face {
    font-family: "outfit";
    src: url(./fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

:root {
    /*-----------------------------------------------------
    Colors
    -----------------------------------------------------*/
    --dark-navy: hsl(202, 32%, 15%);
    --semi-dark-nary: hsl(199, 35%, 19%);
    --silver: hsl(198, 23%, 72%);
    --light-blue: hsl(178, 60%,48%);
    --light-yellow: hsl(39, 88%, 58%);

    --light-blue-hover: hsl(178, 75%,65%);
    --light-yellow-hover: hsl(39, 100%, 69%);

    --win-x: var(--light-blue);
    --win-o: var(--light-yellow);

    /*-----------------------------------------------------
    Typography
    -----------------------------------------------------*/
    --heading-l: 2.5rem;
    --heading-m: 1.5rem;
    --heading-s: 1.25rem;
    --heading-xs: 1rem;
    --body: 0.875rem;

    --bold: 700;
    --medium: 500;

}

body {
    text-transform: uppercase;
    background-color: var(--dark-navy);
    color: var(--dark-navy);
    font-family: "outfit";
    font-size: var(--body);
    font-weight: var(--medium);
}

.container {
    width: min(87.467%, 28.75rem);
    margin: clamp(119px, 31.73vw, 215px) auto;
}

.logo {
    margin: 0 auto clamp(32px, 8.53vw, 40px);
}

.mark {
    text-align: center;
    margin-bottom: clamp(32px, 8.53vw, 40px);
    color: var(--silver);
    background-color: var(--semi-dark-nary);
    border-radius: 15px;
    padding: 24px 24px 30px;
}

.mark__header {
    margin-bottom: 24px;
    font-size: var(--heading-xs);
    font-weight: var(--bold);
    letter-spacing: 1px;
}

.mark__selector {
    margin-bottom: 26px;
    background-color: var(--dark-navy);
    border-radius: 10px;
    display: flex;
    padding: 9px 8px;
}

.mark__selector--mark {
    width: 50%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.mark__selector--mark:hover {
    background-color: hsl(202, 32%, 17%);
}

.mark__selector--mark:has(.mark__selector--radio:checked) {
    background-color: var(--silver);
}

.mark__selector--mark:has(.mark__selector--radio:checked) path {
    fill: var(--dark-navy);
}

.mark__selector--radio {
    display: none;
}

.mark__selector--x svg,
.mark__selector--o svg {
    width: 32px;
    height: 32px;
}

.mark__selector--x,
.mark__selector--o {
    cursor: pointer;
}

.mark__selector--x path,
.mark__selector--o path {
    fill: var(--silver);
}

.info {
    letter-spacing: 0.88px;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 15px;
    height: clamp(56px, 14.9vw, 67px);
    text-transform: uppercase;
    font-size: clamp(var(--heading-xs), 4.267vw, var(--heading-s));
    font-weight: var(--bold);
    letter-spacing: 1px;
    cursor: pointer;
}

.btn--cpu {
    margin-bottom: clamp(16px, 4.267vw, 20px);
    background-color: var(--light-yellow);
    box-shadow: inset 0 -8px hsl(39, 82%, 44%);
}

.btn--player {
    box-shadow: inset 0 -8px hsl(178, 78%, 31%);
}

.btn--cpu:hover {
    background-color: var(--light-yellow-hover);
}

.btn--player {
    background-color: var(--light-blue);
}

.btn--player:hover {
    background-color: var(--light-blue-hover);
}

.main.play {
    padding-top: 24px;
    margin-top: 0;
}

.board-header {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 64px;
}

.board-header__logo {
    margin-right: auto;
}

.turn {
    color: var(--silver);
    display: flex;
    font-size: clamp(14px, 3.73vw, 16px);
    font-weight: var(--bold);
    letter-spacing: 0.88px;
    align-items: center;
    background-color: var(--semi-dark-nary);
    padding: 9px 15px 13px;
    border-radius: 10px;
}

.turn__img {
    margin-right: clamp(9px, 2.4vw, 13px);
}

.turn__img svg {
    width: clamp(16px, 4.2667vw, 20px);
    height: clamp(16px, 4.2667vw, 20px);
}

.turn__img path {
    fill: var(--silver);
}

.reset {
    background-color: var(--silver);
    padding: 10px;
    border-radius: 10px;
    margin-left: clamp(74px, 19.73vw, 108px);
}

.board {
    height: 328px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.board__box {
    background-color: var(--semi-dark-nary);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__mark {
    width: 40px;
    height: 40px;
}

.results {
    display: flex;
    gap: 20px;
}

.result {
    width: 33.33%;
    text-align: center;
    padding: 11.5px 15px;
    border-radius: 10px;
}

.result__total {
    font-size: var(--heading-s);
    font-weight: var(--bold);
    line-height: 100%;
}

.result--x {
    background-color: var(--light-blue);
}

.result--o {
    background-color: var(--light-yellow);
}

.result--tie {
    background-color: var(--silver);
}

.dialog {
    color: var(--silver);
    position: absolute;
    background-color: rgba(26, 42, 50, 0.6);
    height: 100vh;
    width: 100vw;
}

.dialog__content {
    margin-top: 210px;
    background-color: rgba(31, 55, 65, 0.9);
    text-align: center;
    padding: 45px 0;
}

.dialog--h1 {
    margin-bottom: 16px;
}

.dialog--h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 24px;
}

.dialog--h2 img {
    width: 30px;
    height: 30px;
}

.dialog__btn-group {
    width: 308px;
    height: 52px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-inline: auto;
margin-top: 24px;
}

.dialog--btn {
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 16px;
}

.dialog--btn1 {
    background-color: var(--silver);
    box-shadow: inset 0 -5px hsl(199, 18%, 51%);
}

.dialog--btn2 {
    background-color: var(--light-yellow);
    box-shadow: inset 0 -5px hsl(39, 82%, 44%);
}