@font-face {
  font-family: "inter";
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --almost-white: hsl(36, 100%, 99%);
  --light-vermillion: hsl(5, 85%, 63%);
  --orange-yellow: hsl(35, 77%, 62%);
  --gunmetal: hsl(237, 14%, 42%);
  --dark-space-blue: hsl(240, 100%, 5%);
  --silver: hsl(236, 8%, 79%);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "inter";
  background-color: var(--almost-white);
  color: var(--gunmetal);
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.content {
  width: 21.4375rem;
  margin-inline: auto;
}

.header {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 2rem;
}

.logo {
  margin-right: auto;
}

.main-nav__list {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.125rem;
}

.future {
  margin-bottom: 4rem;
}

.future__img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.future__header {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 900;
  color: var(--dark-space-blue);
  margin-bottom: 1rem;;
}

.future__content p {
  margin-bottom: 1.5rem;
}

.future__btn {
  border: none;
  background-color: var(--light-vermillion);
  font-size: 0.875rem;
  letter-spacing: 0.27375rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
}

.news {
  background-color: var(--dark-space-blue);
  color: var(--silver);
  padding: 1.5rem 1.25rem;
  margin-bottom: 4rem;
}

.news__heading {
  font-size: 2rem;
  color: var(--orange-yellow);
  font-weight: 700;
  margin-bottom: 2.1875rem;
}

.news__item h3 {
  color: var(--almost-white);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.news__item--div {
  padding-bottom: 1.8125rem;
  border-bottom: .125rem solid var(--silver);
}

.news__item--top {
  margin-top: 1.9375rem;
}

.news-list {
  margin-bottom: 5rem;
}

.news-list__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 2rem 1.5rem 3.25rem;
  column-gap: 1.5rem;
}

.news-list__item--bottom {
  margin-bottom: 2rem;
}

.item--img {
  width: 100%;
  height: 100%;
  grid-row: span 3;
}

.item--header {
  font-size: 2rem;
  font-weight: 700;
  color: var(--light-vermillion);
}

.item--secondary {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--dark-space-blue);
}

.item--text {
  align-self: end;
}