@font-face {
  font-family: "inter";
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --almost-white: hsl(36, 100%, 99%);
  --light-vermillion: hsl(5, 85%, 63%);
  --orange-yellow: hsl(35, 77%, 62%);
  --gunmetal: hsl(237, 14%, 42%);
  --dark-space-blue: hsl(240, 100%, 5%);
  --silver: hsl(236, 8%, 79%);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "inter";
  background-color: var(--almost-white);
  color: var(--gunmetal);
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.content {
  width: min(69.375rem, 91.46%);
  margin-inline: auto;
  z-index: -2;
}

.header {
  display: flex;
  padding-top: clamp(1.75rem, 7.67vw, 5.5625rem);
  padding-bottom: clamp(2rem, 8.53vw, 3.44375rem);
}

.logo {
  margin-right: auto;
}

.hamburger {
  z-index: 2;
}

.main-nav {
  position: absolute;
  display: none;
  justify-content: flex-end;
  z-index: 1;
  background-color: rgba(151, 151, 151, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-list__container {
  background-color: var(--almost-white);
  display: flex;
  padding-top: 144px;
  width: 75%;
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.125rem;
  padding-left: 1.5rem;
}

.main-nav__item:hover {
  color: var(--light-vermillion);
  cursor: pointer;
}

.future {
  margin-bottom: 4rem;
}

.future__img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.future__header {
  font-size: clamp(2.5rem, 10.67vw, 3.5rem) ;
  line-height: clamp(2.5rem, 10.67vw, 3.5rem);
  font-weight: 900;
  color: var(--dark-space-blue);
  margin-bottom: 1rem;;
}

.future__content p {
  margin-bottom: 1.5rem;
}

.future__btn {
  border: none;
  background-color: var(--light-vermillion);
  font-size: 0.875rem;
  letter-spacing: 0.27375rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
}

.future__btn:hover {
  cursor: pointer;
  background-color: var(--dark-space-blue);
  color: var(--almost-white);
}

.news {
  background-color: var(--dark-space-blue);
  color: var(--silver);
  padding: 1.5rem 1.25rem;
  margin-bottom: 4rem;
}

.news__heading {
  font-size: 2rem;
  color: var(--orange-yellow);
  font-weight: 700;
  margin-bottom: 2.1875rem;
}

.news__item h3 {
  color: var(--almost-white);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.news__item h3:hover {
  color: var(--orange-yellow);
  cursor: pointer;
}

.news__item--div {
  padding-bottom: 1.8125rem;
  border-bottom: .125rem solid var(--silver);
}

.news__item--top {
  margin-top: 1.9375rem;
}

.news-list {
  margin-bottom: 5rem;
  font-size: 12px;
}

.news-list__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 2rem 1.5rem 3.25rem;
  column-gap: 1.5rem;
}

.news-list__item--bottom {
  margin-bottom: 2rem;
}

.item--img {
  width: 100%;
  height: 100%;
  grid-row: span 3;
}

.item--header {
  font-size: 2rem;
  font-weight: 700;
  color: var(--light-vermillion);
}

.item--secondary {
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-space-blue);
  display: block;
}

.item--secondary:hover {
  color: var(--light-vermillion);
  cursor: pointer;
}

.item--text {
  align-self: end;
}

.open {
  display: flex;
}

@media screen and (min-width: 67.5rem) {
  .main-nav {
    position: static;
    display: flex;
    background-color: var(--almost-white);
    width: 100%;
  }

  .nav-list__container {
    padding: 0;
    justify-content: flex-end;
  }

  .main-nav__list {
    padding: 0;
    flex-direction: row;
  }

  .main {
    display: grid;
    grid-template-columns:  repeat(3, minmax(17.15rem, 23.125rem));
    /* grid-template-columns: repeat(3, 23.125rem); */
  }

  .future {
    grid-column: span 2;
    margin-right: 1.875rem;
  }

  .future__sub {
    display: flex;
  }

  .future__sub > * {
    flex: 1;
  }

  .news {
    grid-column: 3 / -1;
  }

  .news-list {
    grid-column: span 3;
    display: flex;
    gap: 1.875rem;
  }

  .news-list > * {
    flex: 1;
  }

  .header {
    align-items: flex-end;
  }

  .hamburger {
    display: none;
  }
}