@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("./fonts/Roboto-Bold.ttf");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  color: hsl(234, 29%, 20%);
  background-color: hsl(234, 17%, 26%);
}

.card {
  width: 928px;
  background-color: hsl(0, 0%, 100%);
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__content,
.success__content {
  width: 87.2%;
  margin-inline: auto;
}

.card__header {
  margin-top: 37px;
  margin-bottom: 24px;
  font-size: 40px;
  font-family: "roboto-bold";
}

.card__list {
  padding-left: 20px;
  margin: 24px auto 40px;
}

.card__list li::marker {
  content: url(./images/icon-list.svg);
}

.card__list li {
  padding-left: 16px;
  margin-bottom: 10px;
}

.subscribe__label {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: "roboto-bold"
}

.subscribe__input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  padding: 16px 24px;
  margin: 8px auto 24px;
  border:1px solid hsl(0, 0%, 85%);
}

.subscribe__input:focus {
  outline: none;
  border-color: hsl(0, 0%, 0%);;
}

.subscribe__error--text {
  visibility: hidden;
  color: hsl(4, 100%, 67%); 
}

.subscribe__error {
  border-color: hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 15%);
  color: hsl(4, 100%, 67%);
}

.subscribe__btn,
.dismiss__btn {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 8px;
  color: hsl(0, 100%, 100%);
  background-color: hsl(234, 29%, 20%);
  margin-bottom: 40px;
}

.success {
  display: none;
  background-color: hsl(0, 0%, 100%);
}

.success__img {
  margin-top: 149px;
  margin-bottom: 40px;
}

.bold-email {
  font-family: "roboto-bold"
}

.success__header {
  font-size: 40px;
  font-family: "roboto-bold";
  margin-bottom: 24px;
}

.success__message {
  margin-bottom: 263px;
  line-height: 25px;
}

@media screen and (min-width: 830px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    height: 641px;
    border-radius: 36px;
    padding: 27px
  }

  .card__content {
    width: 376px;
    height: 446px;
  }

  .card__header {
    margin-top: 72px;
    font-size: 56px;
  }

  .subscribe__btn,
  .dismiss__btn,
  .subscribe__input {
    cursor: pointer;
  }

  .subscribe__btn:hover,
  .dismiss__btn:hover {
    background: linear-gradient(to bottom, #ff6a3a 0%, #ff527b 100%);
    box-shadow: 10px 5px 30px #ff6a3a;
  }

  .success {
    width: 504px;
    height: 520px;
    border-radius: 36px;
  }

  .success__content {
    width: 376px; 
  }

  .success__img {
    margin-top: 48px;
  }

  .success__header {
    font-size: 56px;
  }

  .success__message {
    margin-bottom: 40px;
  }
}
