@font-face {
    font-family: "outline";
    src: url("../fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

body {
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-family: "outline";
}

.card {
    background-color: hsl(216, 51%, 16%);
    width: min(87.2%, 350px);
    padding: 24px;
    margin-inline: auto;
    border-radius: 15px;
    margin-top: clamp(62px, 16.533vw, 152px);
}

.card__img {
    border-radius: 8px;
    margin-bottom: 24px;
    position: relative;
    background-image: url(../images/image-equilibrium.jpg);
    background-size: clamp(279px, 74.4vw, 303px);
    width: clamp(279px, 74.4vw, 303px);
    height: clamp(279px, 74.4vw, 303px);
}

.card__img:hover {
    cursor: pointer;
}

.card__img:hover .card__img--hover {
    z-index: 0;
}

.card__img--hover {
    background-color: hsla(178, 100%, 50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(279px, 74.4vw, 303px);
    height: clamp(279px, 74.4vw, 303px);
    border-radius: 8px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.card__header {
    font-size: 22px;
    color: hsl(0, 0%, 100%);
    margin-bottom: clamp(12px, 3.2vw, 16px);
}

.card__header:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.card__text {
    font-size: 18px;
    margin-bottom: clamp(16px, 4.267vw, 24px);
}

.card__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(16px, 4.267vw, 24px);
}

.card__eth,
.card__days {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 15px;
}

.card__eth {
    color: hsl(178, 100%, 50%);
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
    border-top: 1px solid hsl(0, 0%, 59%);
    padding-top: 16px;
}

.user__img {
    width: 33px;
}

.user__info--white {
    color: hsl(0, 0%, 100%);
}

.user__info--white:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
