@font-face {
  src: url("./fonts/SpaceMono-Bold.ttf");
  font-family: "space-mono-bold"
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark-green: hsl(183, 100%, 15%);
  --clr-green: hsl(172, 67%, 46%);
  --clr-light-green: hsl(185, 38%, 97%);
  --clr-leaf-green: hsl(183, 15%, 56%);
  --clr-body: hsl(185, 41%, 84%);
  --clr--hover: hsl(172, 61%, 77%);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] {
    appearance:textfield;
}

body {
  font-family: "space-mono-bold";
  background-color: var(--clr-body);
}

.logo {
  text-align: center;
  margin-top: clamp(50px, 20vw, 163px);
  margin-bottom: clamp(41px, 10vw, 88px);
}

.tip-calculator {
  max-width: 920px;
  background-color: var(--clr-white);
  padding: 32px;
  border-radius: 25px 25px 0 0;
  margin-inline: auto;
}

.title {
  color: var(--clr-leaf-green);
}

input {
  color: var(--clr-dark-green);
}

.tip-calculator__input {
  margin-bottom: clamp(32px, 5vw, 42px);
}

.input-box {
  display: flex;
  align-items: center;
  background-color: var(--clr-light-green);
  border: 2px solid var(--clr-light-green);
  border-radius: 5px;
  margin-top: 5px;
  padding: 6px 18px;
}

.input-box--value {
  background: transparent;
  border: none;
  text-align: right;
  font-size: 24px;
  width: 100%;
}

.input-box--value:focus {
  outline: none;
}

.tip-calculator__tip {
  margin-bottom: clamp(32px, 5vw, 38px);
}

.tip-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(146.6px, 500px));
  grid-auto-rows: 48px;
  gap: 16px;
  margin-top: 16px;
}

.tip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark-green);
  border-radius: 5px;
  color: var(--clr-white);
  font-size: 24px;
}

.tip.active {
  background-color: var(--clr-green);
  color: var(--clr-dark-green);
}

.tip--custom {
  background-color: var(--clr-light-green);
  color: var(--clr-leaf-green);
  border: 2px solid var(--clr-light-green);
  padding: 0 8px;
}

.tip--custom input {
  width: 100%;
  background: transparent;
  border: none;
  text-align: right;

  &::placeholder {
    text-align: center;
  }
}

.tip--custom input:focus {
  outline: none;
}

.tip-calculator__results {
  background-color: var(--clr-dark-green);
  padding: 24px;
  border-radius: 15px;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-white);
}

.result__header span {
  font-size: 13px;
  color: var(--clr-leaf-green); 
}

.amount, .total {
  font-size: 32px;
  color: var(--clr-green);
}

.reset {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background-color: var(--clr-green);
  border: none;
  text-transform: uppercase;
  font-size: 20px;
}

.result--amount {
  margin-bottom: 20px;
}

.result--total {
  margin-bottom: 32px;
}

@media screen and (min-width: 920px) {
  .tip-calculator {
    height: 481px;
    border-radius: 25px;
    display: flex;
  }

  .input-section {
    width: 379px;
    height: 388px;
  }

  .tip-calculator__results {
    width: 413px;
    margin-left: 48px;
  }

  .tip-grid {
    grid-template-columns: repeat(3, 117px);
  }

  .tip-calculator__results {
    width:100%;
    padding: 38px 40px;
  }
  
  .result--amount {
    margin-bottom: 25px;
  }

  .result--total {
    margin-bottom: 122px;
  }

  .amount, .total {
    font-size: 48px;
  }

  .reset:hover {
    cursor: pointer;
    background-color: var(--clr--hover);
  }

  .tip--set:hover {
    cursor: pointer;
    background-color: var(--clr--hover);
    color: var(--clr-dark-green);
  }

  .tip--custom:hover {
    cursor: pointer;
    border-color: var(--clr-green);

    & .custom {
      cursor: pointer;
    }
  }

  .input-box:hover {
    cursor: pointer;
    border: 2px solid var(--clr-green);

    & .input-box--value {
      cursor: pointer;
    }
  }
}
