@font-face {
    font-family: "alata";
    src: url("../fonts/Alata/Alata-Regular.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    font-family: "alata" Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
