@font-face {
  font-family: rubik;
  src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

:root {
  --purple: #A729F5;
  --dark-navy: #313E51;
  --navy: #3B4D66;
  --gray-navy: #626C7F;
  --light-bluish: #ABC1E1;
  --light-gray: #F4F6FA;
  --pure-white: #FFF;
  --green: #26D782;
  --red: #EE5454;
  --button-hover: rgba(167, 41, 245, 0.5);

  --html: #FFF1E9;
  --css: #E0FDEF;
  --javascript: #EBF0FF;
  --accessibility: #F6E7FF;

  --primary-background-color: var(--light-gray);
  --secondary-background-color: var(--pure-white);
  --primay-text: var(--dark-navy);
  --secondary-text: var(--gray-navy);

  --primary-background-img: url("./images/pattern-background-mobile-light.svg");
}

.dark {
  --primary-background-color: var(--dark-navy);
  --secondary-background-color: var(--navy);
  --primay-text: var(--pure-white);
  --secondary-text: var(--light-bluish);
  --primary-background-img: url("./images/pattern-background-mobile-dark.svg");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: rubik;
  background: var(--primary-background-color);
  color: var(--primay-text);
}

/********************
CONTAINER 
********************/

.container {
  background-image: var(--primary-background-img);
  background-repeat: no-repeat;
  height: 100vh;
}

.container--content {
  width: min(1157px, calc(100% - 12.8%));
  margin-inline: auto;
}

/********************
HEADER 
********************/

.header {
  display: flex;
  justify-content: space-between;
  padding: clamp(16px, 7.3vw, 83px) 0;
}

.quiz-header {
  width: clamp(167px, 33.3vw, 253px);
  height: clamp(40px, 7.36vw, 56px);
  display: flex;
  align-items: center;
}

.quiz-header img {
  padding: 5px;
  width: clamp(40px, 7.36vw, 56px);
  height: clamp(40px, 7.36vw, 56px);
  border-radius: 10px;
  margin-right: 16px;
}

.quiz-header span {
  font-size: clamp(18px, 3.68vw, 28px);
}

.clr-theme {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle__input {
  display: none;
}

.toggle__input:checked + .toggle__switch::before {
  transform: translate(clamp(12px, 2.63vw, 20px));
}

.toggle__switch {
  width: clamp(32px, 6.31vw, 48px);
  height: clamp(20px, 3.68vw, 28px);
  background-color: var(--purple);
  display: flex;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.toggle__switch::before {
  content: "";
  width: clamp(12px, 2.63vw, 20px);
  height: clamp(12px, 2.63vw, 20px);
  background-color: var(--pure-white);
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 4px;
}

/********************
PAGE INFO 
********************/

.section-info {
  color: var(--primay-text);
  margin: 0 0 40px;
  display: flex;
  flex-flow: row wrap;
}

.section-info * {
  width: 100%;
}

.section-info__header {
  font-size: clamp(40px, 8.42vw, 64px);
  font-weight: 200;
  line-height: 100%;
}

.section-info__header--span {
  font-weight: bold;
  display: block;
  margin: 8px 0 16px;
}

.section-info__choice {
  font-size: clamp(14px, 2.63vw, 20px);
  font-style: italic;
  line-height: 150%;
  margin-bottom: 24px;
}

.quiz-select .section-info__choice {
  order: -1;
}

.quiz-question {
  font-size: clamp(20px, 4.73vw, 36px);
  line-height: 120%;
  font-weight: 500;
}

.progress {
  width: 100%;
  height: 16px;
  background-color: var(--pure-white);
  border-radius: 10px;
  padding: 4px;
  display: none;
}

.progress__value {
  width: 0%;
  height: 8px;
  background: var(--purple);
  border-radius: 10px;
}

/********************
SELECTION 
********************/

.quiz-select {
  display: flex;
  flex-flow: row wrap;
  gap: clamp(12px, 3.15vw, 24px);
}

.box {
  width: 100%;
  height: clamp(64px, 10.5vw, 80px);
  background-color: var(--secondary-background-color);
  border-radius: clamp(12px, 3.15vw, 24px);
  border: 2px solid var(--secondary-background-color);
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.box.selected {
  border-color: var(--purple);
}

.box.selected .box__image--option {
  background-color: var(--purple);
  color: var(--pure-white);
}

.box.correct {
  border-color: var(--green)
}

.box.correct .box__image--option {
  background-color: var(--green);
}

.box.error {
  border-color: var(--red)
}

.box.error .box__image--option {
  background-color: var(--red);
}

.box__image {
  width: clamp(40px, 7.36vw, 56px);
  height: clamp(40px, 7.36vw, 56px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: clamp(12px, 1.72vw, 20px);
  color: var(--secondary-text);
}

.box__image img {
  width: clamp(28px, 5.26, 40px);
  height: clamp(28px, 5.26, 40px);
}

.box__text {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: clamp(18px, 3.68vw, 24px);
}

.box__image--option {
  background-color: var(--light-gray);
}

.html {
  background-color: var(--html);
}

.css {
  background-color: var(--css);
}

.accessibility {
  background-color: var(--accessibility);
}

.javascript {
  background-color: var(--javascript);
}

.btn {
  width: 100%;
  height: clamp(56px, 12.1vw, 92px);
  border: 1px solid var(--purple);
  background-color: var(--purple);
  border-radius: clamp(12px, 3.15vw, 24px);
  display: none;
  font-size: clamp(18px, 3.68vw, 28px);
  color: var(--pure-white);
  cursor: pointer;
}

.no-selection {
  color: var(--red);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: none;
}

.result {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: none;
}

.box--result {
  display: flex;
  flex-direction: column;
  height: 242px;
  padding: 32px;
  font-size: clamp(18px, 3.15vw, 24px);
}

.num-correct {
  font-size: clamp(88px, 18.94vw, 144px);
}

@media screen and (min-width: 768px) {
  .dark {
    --primary-background-img: url("./images/pattern-background-tablet-dark.svg");
  }

  :root {
    --primary-background-img: url("./images/pattern-background-tablet-light.svg");
  }
}

@media screen and (min-width: 1160px) {
  .container--content {
    width: 1157px;
    display: flex;
  }

  .clr-theme {
    justify-content: flex-end;
  }

  .container--content > * {
    flex: 1;
  }

  .section-info {
    align-content: flex-start;
    padding-right: 131px;
  }

  .progress {
    margin-top: 245px;
  }

  .box--result {
    height: 388px;
  }

  .dark {
    --primary-background-img: url("./images/pattern-background-desktop-dark.svg");
  }

  :root {
    --primary-background-img: url("./images/pattern-background-desktop-light.svg");
  }
}