@font-face {
  font-family: rubik;
  src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

:root {
  --purple: #A729F5;
  --dark-navy: #313E51;
  --navy: #3B4D66;
  --gray-navy: #626C7F;
  --light-bluish: #ABC1E1;
  --light-gray: #F4F6FA;
  --pure-white: #FFF;
  --green: #26D782;
  --red: #EE5454;
  --button-hover: rgba(167, 41, 245, 0.5);

  --html: #FFF1E9;
  --css: #E0FDEF;
  --javascript: #EBF0FF;
  --accessibility: #F6E7FF;

  --primary-background-color: var(--light-gray);
  --secondary-background-color: var(--pure-white);
  --primay-text: var(--dark-navy);
  --secondary-text: var(--gray-navy);

  --primary-background-img: url("../images/pattern-background-mobile-light.svg");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: rubik;
  background: var(--primary-background-color);
  color: var(--primay-text);
}

/********************
CONTAINER 
********************/

.container {
  background-image: url(./images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  height: 100vh;
}

.container--content {
  width: calc(100% - 48px);
  margin-inline: auto;
}

/********************
HEADER 
********************/

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.quiz-header {
  width: 167px;
  height: 40px;
  display: flex;
  align-items: center;
}

.quiz-header img {
  padding: 5px;
  border-radius: 10px;
  margin-right: 16px;
}

.clr-theme {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle__input {
  display: none;
}

.toggle__input:checked + .toggle__switch::before {
  transform: translate(12px);
}

.toggle__switch {
  width: 32px;
  height: 20px;
  background-color: var(--purple);
  display: flex;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle__switch::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--pure-white);
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 4px;
}

/********************
PAGE INFO 
********************/

.section-info {
  color: var(--dark-navy);
  margin: 0 0 40px;
  display: flex;
  flex-flow: row wrap;
}

.section-info * {
  width: 100%;
}

.section-info__header {
  font-size: 40px;
  font-weight: 200;
  line-height: 100%;
}

.section-info__header--span {
  font-weight: bold;
  display: block;
  margin: 8px 0 16px;
}

.section-info__choice {
  font-size: 14px;
  font-style: italic;
  line-height: 150%;
  margin-bottom: 24px;
}

.quiz-select .section-info__choice {
  order: -1;
}

.quiz-question {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
}

.progress {
  width: 100%;
  height: 16px;
  background-color: var(--pure-white);
  border-radius: 10px;
  padding: 4px;
  display: none;
}

.progress__value {
  width: 0%;
  height: 8px;
  background: var(--purple);
  border-radius: 10px;
}

/********************
SELECTION 
********************/

.quiz-select {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}

.box {
  width: 100%;
  height: 64px;
  background-color: var(--pure-white);
  border-radius: 12px;
  border: 2px solid var(--pure-white);
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.box.selected {
  border-color: var(--purple);
}

.box.selected .box__image--option {
  background-color: var(--purple);
  color: var(--pure-white);
}

.box.correct {
  border-color: var(--green)
}

.box.correct .box__image--option {
  background-color: var(--green);
}

.box.error {
  border-color: var(--red)
}

.box.error .box__image--option {
  background-color: var(--red);
}

.box__image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.box__image img {
  width: 28px;
  height: 28px;
}

.box__text {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
}

.box__image--option {
  background-color: var(--light-gray);
}

.html {
  background-color: var(--html);
}

.css {
  background-color: var(--css);
}

.accessibility {
  background-color: var(--accessibility);
}

.javascript {
  background-color: var(--javascript);
}

.btn {
  width: 100%;
  height: 56px;
  border: 1px solid var(--purple);
  background-color: var(--purple);
  border-radius: 12px;
  visibility: hidden;
  font-size: 18px;
  color: var(--pure-white);
  cursor: pointer;
}

.no-selection {
  color: var(--red);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  visibility: hidden;
}

.result {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: none;
}

.box--result {
  display: flex;
  flex-direction: column;
  height: 242px;
  padding: 32px;
}

.num-correct {
  font-size: 88px;
}